<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/userNav.html}"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <div layout:fragment="user-content">
        <div class="user-view w-100 px-4 py-3">
            <div class="user-header-title w-100">
                <h5>Create Profile</h5>
            </div>
            <div th:if="${errorMessage}">
                <div class="alert alert-danger" th:text="${errorMessage}"></div>
            </div>
            <form action="/khainacs/user/create/submit"
                  method="post"
                  th:object="${userDTO}"
                  class="p-5">
                <div class="w-100 d-flex justify-content-start px-5">
                    <div class="user-item">
                        <div class="mb-2">
                            <label>First Name</label>
                        </div>
                        <div>
                            <input class="user-input"
                                   type="text"
                                   placeholder="First Name"
                                   th:field="${userDTO.firstName}"
                            >
                            <p th:if="${#fields.hasErrors('firstName')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.firstName}"
                            ></p>
                        </div>
                    </div>

                    <div class="user-item">
                        <div class="mb-2">
                            <label>Last Name</label>
                        </div>
                        <div>
                            <input class="user-input"
                                   type="text"
                                   placeholder="Last Name"
                                   th:field="${userDTO.lastName}"
                            >
                            <p th:if="${#fields.hasErrors('lastName')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.lastName}"
                            ></p>
                        </div>
                    </div>

                </div>
                <div class="w-100 d-flex justify-content-start px-5">
                    <div class="user-item">
                        <div class="mb-2">
                            <label>Email</label>
                        </div>
                        <div>
                            <input class="user-input"
                                   type="text"
                                   placeholder="Email"
                                   th:field="${userDTO.email}"
                            >
                            <p th:if="${#fields.hasErrors('email')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.email}"
                            ></p>
                            <p th:if="${messageError != null}"
                               th:text="${messageError}"
                               class="text-danger"></p>
                        </div>
                    </div>
                    <div class="user-item">
                        <div class="mb-2">
                            <label>Password</label>
                        </div>
                        <div>
                            <input class="user-input"
                                   type="text"
                                   placeholder="Password"
                                   th:field="${userDTO.password}"
                            >
                            <p th:if="${#fields.hasErrors('password')}"
                               th:errorclass="text-danger"
                               th:errors="${userDTO.password}"
                            ></p>
                            <p th:if="${messageError != null}"
                               th:text="${messageError}"
                               class="text-danger"></p>
                        </div>
                    </div>

                </div>

                <div class="w-100 d-flex justify-content-start px-5">


                    <div class="user-item">
                        <label class="mb-2">Roles Type</label>
                        <div class="">
                            <select class="form-select" th:field="${userDTO.role}">
                                <option selected value="">Choose Role</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                            </select>
                        </div>
                        <p th:if="${#fields.hasErrors('role')}"
                           th:errorclass="text-danger"
                           th:errors="${userDTO.role}"
                        ></p>
                    </div>
                </div>

                <div class="user-submit-layout d-flex justify-content-end align-items-end gap-2 px-5">
                    <button type="submit" name="action" value="cancel" class="btn btn-outline-secondary">Cancel</button>
                    <button type="submit" name="action" value="create" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>