<div xmlns:th="http://www.thymeleaf.org"
     class="d-flex flex-column align-items-center gap-5">

    <a class="body-nav-btn"
       th:classappend="${activeNav == 'dashboard'} ? 'active'"
       th:href="@{/admin/v1/}"><i class="fas fa-home"></i></a>

    <a class="body-nav-btn"
       th:classappend="${activeNav == 'user'} ? 'active'"
       th:href="@{/khainacs/user}"><i class="fas fa-user"></i></a>

    <a class="body-nav-btn"
       th:classappend="${activeNav == 'role'} ? 'active'"
       th:href="@{/khainacs/role}" ><i class="fas fa-suitcase"></i></a>


</div>