<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="dashboard-page h-100 w-100 d-flex flex-column px-4">
      <div class="dashboard-header d-flex align-items-center">
          <h4 class="m-0">Welcome, <span id="dashboard-username"></span></h4>
      </div>

      <div class="dashboard-content flex-grow-1 d-flex py-4">
          <div class="dashboard-content-left d-flex justify-content-center align-items-start col-6">

          </div>
          <div class="h-50 d-flex justify-content-center align-items-center col-6">
              <p class="dashboard-content-text">Welcome to My Demo, and I hope you have a productive and enjoyable experience managing My Demo.</p>
          </div>

      </div>

    </div>

  </div>
</body>
</html>