<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Navbar</title>
</head>
<body>

<div layout:fragment="content">
    <div class="h-100 d-flex gap-2">

        <div class="nav-page d-flex flex-column p-4 gap-3 align-self-start">
            <a class="nav-page-btn d-flex justify-content-between align-items-center"
               th:classappend="${activeTab == 'userCreate'} ? 'active'"
               th:href="@{/khainacs/role/create}">Create Role <i class="fas fa-chevron-right"></i></a>

            <a class="nav-page-btn d-flex justify-content-between align-items-center"
               th:classappend="${activeTab == 'userView'} ? 'active'"
               th:href="@{/khainacs/role/view-all-role}">View Roles  <i class="fas fa-chevron-right"></i></a>
        </div>

        <!-- this is a marker of layout:fragment="profile-content" -->
        <div class="main-content" layout:fragment="role-content"></div>

    </div>
</div>

</body>
</html>